﻿
    /*------------------Scroll----------------*/

#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: #0F0D15;
	
	background-image: -webkit-gradient(linear, 0 0, 0 0,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.4, transparent), to(transparent));
}

    /*------------------Scroll----------------*/

    .checkbox.checked .icons,
.radio.checked .icons {
  color: #1571B6;
}

.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #1571B6;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}








   
      .dusuk
       {
        
         color:red;
         padding:10px;
         margin-left:-170px;
         }
          .zayif
        {
         
         color:orange;
         padding:10px;
         margin-left:-170px;
         }
          .normal
         {
          
         color:blue;
         padding:10px;
         margin-left:-170px;
         }
          .iyi
         {
       
         color:yellowgreen;
         padding:10px;
         margin-left:-170px;
         }
          .cokiyi
         {
         
         color:green;
         padding:10px;
         margin-left:-170px;
         }
          .border
         {
          border: medium solid #800000;
          width:500px;                
         }

          .watermarked{
              background-color:#eeeed1;
              
          }
      