﻿label.error {
    color: white !important;
    margin-top: 20px;
}

.sweet-alert {
    display: block;
    width: 300px !important;
    padding: 20px;
    margin-left: -150px !important;
    background: rgb(255, 255, 255);
    margin-top: -189px;
    float: none;
    left: none;
}

.switch-field {
    font-family: "Roboto", Tahoma, Verdana, sans-serif;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 14px;
    opacity: 0.65;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 10px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    height: 40px;
}

    .switch-field label:hover {
        cursor: pointer;
    }

.switch-field input:checked + label {
    background-color: #214A86;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    opacity: 0.8;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
